@import "./global/normalize.scss";
@import "./abstracts/variables.scss";
@import "./global/fonts.scss";
@import "./global/global.scss";
@import "./components/header.scss";
@import "./components/main.scss";
@import "./components/footer.scss";

*, *::before, *::after  {
    box-sizing: inherit;
    font-family: Nunito Sans;
    font-size: 18px;
}

  .container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1197px;
  }
  
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1a3e3e;
    border-radius: 4px;
    padding: 0;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: .192px;
    color: #fdfdfd;
    background: #1a3e3e;
    transition: all .3s;
    cursor: pointer;
  }