.end {
  background-color: $dark-green;
}
.footer {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: end;
  height: 32.6rem;
  background-color: $dark-green;
  background: $dark-green;
  color: $white;
}
.footer_content {
  font-size: 0.78rem;
  height: 16.67rem;
  text-align: start;
  padding-inline-end: 5px;
  padding-bottom: 5px;
}

.footer_text {
  line-height: 1.1rem;
  margin-bottom: 5px;
  font-size: 0.78rem;
  font-family: "Nunito Sans";
  font-weight: 400;
}
.footer_title {
  font-size: 1.1rem;
  font-weight: 700;
}
.footer_tel {
  margin-left: .8rem;
}
.footer_contacts {
  margin-bottom: 1.9rem;
  margin-top: .8rem;
  font-size: .8rem;
  font-weight: 600;
}

.footer_contacts a {
  color:$white;
  text-decoration: underline;
}
.footer_contacts a:hover {
  color: $yellow;
}

.icons a {
  display: inline-block;
}
.icons a:hover {
  text-decoration: underline;
  color: $yellow;
}

.footer_content li {
  margin-bottom: 0.72rem;
  list-style-type: none;
  margin-left: -2.22rem;
}

.footer_content li a::before {
  content: ">";
  margin-right: 0.83rem;
}

.footer_content li a {
  text-decoration: none;
  color: white;
  font-size: 0.78rem;
  font-family: "Nunito Sans";
  font-weight: 400;
}

.footer_content li a:hover {
  text-decoration: underline;
  color: $yellow;
}

.footer_bottom {
  display: flex;
  flex-direction: row;
  background-color: $black;
  justify-content: space-between;
}
.bottom {
  background-color: $black;
}

.footer__info {
  color:$white;
}

.footer__policy {
  padding-top: .8rem;
  font-weight: 400;
}
.footer_bottom a {
  text-decoration: underline;
  color:$white;
}

.footer_bottom a:hover {
  text-decoration: underline;
  color: $yellow;
}
@media screen and (max-width: 1199px) {
  .footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 0.5fr;
    justify-items: center;
    align-items: end;
    width: 100%;
    height: 100%;
    color:$white;
  }
  .footer_bottom {
    display: flex;
    flex-direction: row;
    background-color: $black;
    justify-content: space-between;
  }

  .footer__contact {
    font-size: .7rem;
    font-weight: 400;
  }
  .footer__info {
    font-size: .9rem;
  }

  .footer__policy {
    font-size: .9rem;
  }
  .footer_content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: .8rem;
    padding-inline-end: 1.7rem;
  }
  .room {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .service {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .important {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: start;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 0.5fr;
    justify-items: start;
    align-items: end;
    width: 100%;
    height: 100%;
    color:$white;
  }
  .footer_title {
    font-size: 1rem;
    font-weight: 600;
  }
  .footer_contacts {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__contact {
    font-size: .7rem;
  }
  .icons {
    padding-bottom: .8rem;
  }
  .footer_bottom {
    display: flex;
    flex-direction: row;
    background-color: $black;
    justify-content: space-between;
  }
  .footer__info {
    font-size: .7rem;
  }

  .footer__policy {
    font-size: .7rem;
  }
  .footer_content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: .7rem;
    text-align: start;
  }
  .room {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .service {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .important {
    margin-top: .8rem;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

@media screen and (max-width: 575px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: start;
    align-items: end;
    width: 100%;
    height: 100%;
    color: $white;
  }
  .footer_title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .footer_bottom {
    display: flex;
    flex-direction: column;
    background-color: $black;
    align-items: center;
    row-gap: 0px;
  }
  .icons {
    margin-top: 0px;
  }
  .footer__contact {
    font-size: 0.78rem;
  }
  .footer__info {
    margin-top: 0.83rem;
    font-size: 0.6rem;
  }

  .footer__policy {
    font-size: 0.6rem;
    padding-top: 0;
    margin-bottom: 1.1rem;
  }
  .footer_content {
    font-size: .7rem;
    text-align: start;
  }
  .room {
    display: grid;
    align-content: end;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .service {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .important {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .footer_content li a::before {
    content: ">";
    margin-right: .6rem;
  }
}

@media screen and (max-width: 360px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    justify-items: start;
    align-items: end;
    grid-row-gap: 1.4rem;
    width: 100%;
    color:$white;
  }
  .footer_title {
    font-size: .8rem;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .footer_bottom {
    display: flex;
    flex-direction: column;
    background-color: $black;
    align-items: center;
    row-gap: 0px;
  }

  .footer__contact {
    font-size: .67rem;
  }
  .footer__info {
    margin-top: .8rem;
    font-size: .5rem;
  }

  .footer__policy {
    font-size: .5rem;
    margin-bottom: 1.1rem;
    padding-top: 0;
  }
  .footer_content {
    margin-top: 1.1rem;
    padding-left: .8rem;
    font-size: .5rem;
    text-align: start;
  }
  .room {
    display: flex;
    flex-direction: column;
    justify-self: end;
    padding-top: 3rem;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .service {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .important {
    margin-bottom: 5px;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .footer_content li {
    margin-bottom: 6px;
  }
}
