.end {
  background-color: #1a3e3e;
}
.footer {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: end;
  height: 587px;
  background-color: #1a3e3e;
  background: #1a3e3e;
  color: $white;
}
.footer_content {
  border: 1px solid red;
  font-size: 14px;
  height: 300px;
  text-align: start;
  padding-inline-end: 5px;
  padding-bottom: 5px;
}

.footer_text {
  line-height: 20px;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: "Nunito Sans";
  font-weight: 400;
}
.footer_title {
  font-size: 20px;
  font-family: "Nunito Sans";
  font-weight: 700;
}
.footer_tel {
  margin-left: 15px;
}
.footer_contacts {
  margin-bottom: 35px;
  margin-top: 15px;
  font-size: 14px;
  font-family: "Nunito Sans";
  font-weight: 600;
}

.footer_contacts a {
  color: white;
}
.footer_contacts a:hover {
  text-decoration: underline;
  color: #f2be22;
}

.icons a {
  display: inline-block;
}
.icons a:hover {
  text-decoration: underline;
  color: #f2be22;
}

.footer_content li {
  border: 1px solid red;
  margin-bottom: 13px;
  list-style-type: none;
  margin-left: -40px;
}

.footer_content li a::before {
  content: ">";
  margin-right: 15px;
}

.footer_content li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: "Nunito Sans";
  font-weight: 400;
}

.footer_content li a:hover {
  text-decoration: underline;
  color: #f2be22;
}

.footer_bottom {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
}
.bottom {
  background-color: black;
}

.footer__info {
  border: 1px solid red;
  color: white;
}

.footer__policy {
  border: 1px solid red;

  padding-top: 15px;
  font-size: 18px;
  font-family: "Nunito Sans";
  font-weight: 400;
}
.footer_bottom a {
  text-decoration: none;
  color: white;
}

.footer_bottom a:hover {
  text-decoration: underline;
  color: #f2be22;
}
@media screen and (max-width: 1199px) {
  .footer {
    background-color: orange;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 0.5fr;
    justify-items: center;
    align-items: end;
    width: 100%;
    height: 100%;
    color: white;
  }
  .footer_bottom {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
  }

  .footer__contact {
    font-size: 13px;
    font-family: "Nunito Sans";
    font-weight: 400;
  }
  .footer__info {
    font-size: 16px;
  }

  .footer__policy {
    font-size: 16px;
  }
  .footer_content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 14px;
    padding-inline-end: 30px;
  }
  .room {
    // padding-inline-start: 50px;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .service {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .important {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: start;
  }
}
// @media screen and (max-width: 991px) {
//   .footer {
//     background-color: #5bc730;
//   }
// }
@media screen and (max-width: 768px) {
  .footer {
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 0.5fr;
    justify-items: start;
    align-items: end;
    width: 100%;
    height: 100%;
    color: white;
  }
  .footer_title {
    font-size: 18px;
    font-weight: 600;
  }
  .footer_contacts {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__contact {
    font-size: 14px;
  }
  .icons {
    padding-bottom: 15px;
  }
  .footer_bottom {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
  }
  .footer__info {
    font-size: 14px;
  }

  .footer__policy {
    font-size: 13px;
  }
  .footer_content {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 14px;
    text-align: start;
  }
  .room {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .service {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .important {
    margin-top: 15px;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 575px) {
  .footer {
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: start;
    align-items: end;
    width: 100%;
    height: 100%;
    color: white;
  }
  .footer_title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .footer_bottom {
    display: flex;
    flex-direction: row;
    background-color: black;
    text-align: center;
    justify-content: space-between;
  }
  .icons {
    margin-top: 0px;
  }
  .footer__contact {
    font-size: 14px;
  }
  .footer__info {
    text-align: start;
    font-size: 12px;
  }

  .footer__policy {
    text-align: end;
    font-size: 12px;
  }
  .footer_content {
    font-size: 14px;
    text-align: start;
  }
  .room {
    display: grid;
    align-content: end;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .service {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .important {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media screen and (max-width: 360px) {
  .footer {
    background-color: rgb(75, 66, 232);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    justify-items: start;
    align-items: end;
    width: 100%;
    height: 100%;
    color: white;
  }
  .footer_title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .footer_bottom {
    display: flex;
    flex-direction: row;
    background-color: black;
    text-align: center;
    justify-content: space-between;
  }

  .footer_contacts {
    display: flex;
    flex-wrap: nowrap;
  }
  .footer__contact {
    font-size: 12px;
  }
  .footer__info {
    text-align: start;
    font-size: 8px;
  }

  .footer__policy {
    padding-top: 8px;
    text-align: end;
    font-size: 8px;
  }
  .footer_content {
    margin-top: 20px;
    font-size: 9px;
    text-align: start;
  }
  .room {
    padding-top: 15px;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .service {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .important {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
