.start {
  background-image: url(../images/header.jpg);
  height: 100vh;
  max-width: 100vw;
}
.container {
}
.header {
}
.logo {
}
.header__nav {
}
.header__ {
}
.link {
}
.button {
}
.burger-menu {
}
.start__info {
}
.start__info_title {
}
