// Начало блока 1 Екатерины
.camping {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.camping__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5.6rem 0;
  gap: 0.8rem;
}

.camping__media {
  display: flex;
  flex-direction: column;
  max-width: 26.7rem;
  margin-right: 6.6rem;
}

.media__main-frame {
  position: relative;
  margin: -15.2rem 0 0 7.2rem;
}

.media__second-frame {
  display: block;
}

.media__img,
.media__video {
  width: 19.4rem;
  height: 22.2rem;
  object-fit: cover;
  border-radius: 1.3rem;
}

.main__title_first {
  margin-bottom: 0.4rem;
  color: $yellow;
  font-size: 1.3rem;
  font-weight: 400;
}

.main__title_second {
  font-size: 2rem;
  font-weight: 800;
  color: $black;
}

.main__text {
  margin: 0 0 2.2rem;
  color: $black;
}

.camping__button {
  width: 11.1rem;
  height: 2.9rem;
}
// Конец блока 1 Екатерины

// Начало блока 2 Екатерины
.offer {
  background-color: $light-grey;
}

.offer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5.6rem 0;
  gap: 0.8rem;
}

.main__text-offer {
  margin: 0 0 2.2rem;
}

.description {
  flex: 1;
  max-width: 32.2rem;
}

.advantages {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 0 2.2rem;
  padding: 0;
  gap: 2.2rem;
}

.advantages__item {
  position: relative;
  padding-left: 3.7rem;
  color: $black;
}

.advantages__title {
  display: block;
  margin-bottom: 0.2rem;
  font-weight: 700;
}

.advantages__text {
  font-size: 0.8rem;
}

.advantages__item:nth-of-type(1)::before {
  background-image: url(/assets/icons/block2_svg1.svg);
  background-repeat: no-repeat;
}

.advantages__item:nth-of-type(2)::before {
  background-image: url(/assets/icons/block2_svg2.svg);
  background-repeat: no-repeat;
}

.advantages__item:nth-of-type(3)::before {
  background-image: url(/assets/icons/block2_svg3.svg);
  background-repeat: no-repeat;
}

.advantages__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.3rem;
  width: 2.8rem;
  height: 2.8rem;
}

.offer__button {
  width: 13.1rem;
  height: 2.9rem;
}

.top-left_bottom-right {
  border-radius: 0 2.8rem;
}

.top-right_bottom-left {
  border-radius: 2.8rem 0;
}

.offer__photo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11.1rem, 1fr));
  flex: 1;
  gap: 0.6rem;
  max-width: 28.3rem;
}

.offer__photo-item {
  object-fit: cover;
  width: 100%;
  height: auto;
}

// Конец блока 2 Екатерины

// Начало блока 3 Виктории
.popular {
  background-color: $white;
}

.popular__wrapper {
  padding: 4.1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular__title {
  text-align: center;
}

.popular__title_first {
  margin: 0 0 0.4rem;
  font-size: 1.3rem;
}

.popular__title_second {
  margin: 0 0 2.2rem;
  font-size: 1.8rem;
}

.popular__media {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  margin-bottom: 50px;
  gap: 10px;
}

.popular__item {
  position: relative;
  overflow: hidden;
  border-radius: 32px;
  max-width: 31%;
  max-height: 500px;
  flex-shrink: 0;
}

.popular__pic {
  min-width: auto;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.popular__rating {
  position: absolute;
  right: 0;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px 0 0 4px;
  gap: 5px;
  width: 65px;
  height: 32px;
  font-weight: 700;
  color: #1a3e3e;
  background: rgba(253, 253, 253, 0.4);
  backdrop-filter: blur(4px);
}

.popular__overlay {
  position: absolute;
  top: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  padding: 30px 20px 20px;
  height: 100%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.2);
  transition: all 2s ease-in-out;
  backdrop-filter: blur(6px);
}

.popular__overlay:hover {
  top: 0;
  cursor: pointer;
}

.overlay__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 38px;
}

.overlay__title {
  color: $white;
}

.overlay__title_first {
  display: block;
  font-size: 24px;
  line-height: 120%;
}

.overlay__title_second {
  font-size: 14px;
  line-height: 18px;
}

.overlay__price {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 67px;
  height: 30px;
  font-size: 16px;
  line-height: 18px;
  background: rgba(255, 255, 255, 0.3);
  color: $white;
}

.overlay__description {
  font-size: 14px;
  line-height: 150%;
  color: $white;
}

.overlay__button {
  margin-top: auto;
  width: 176px;
  height: 44px;
}

.popular__button {
  padding: 0.7rem 1.3rem;
  max-width: 13.3rem;
}
//Конец блокак 3 Виктории

// Начало блока 4 Екатерины
.impression {
  padding: 5.6rem 0;
  background-color: $light-grey;
}

.blog__wrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.blog {
  display: flex;
  flex-wrap: wrap;
  gap: 1.1rem;
  margin-bottom: 2.8rem;
}

.news {
  display: flex;
  flex: 1 1 21.1rem;
  border-radius: 0.6rem;
  padding: 0.9rem;
  margin: 0.8rem;
  height: auto;
  box-shadow: 0 0 0.8rem 0 rgba(24, 18, 30, 0.12);
  background: $white;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.news:hover {
  box-shadow: 0 0 0.8rem 0 rgba(24, 18, 30, 0.4);
  background: $white;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.news__content {
  display: flex;
  flex: 1 1 16.3rem;
  flex-direction: column;
  margin-left: 1.3rem;
}

.news__img {
  border-radius: 6px;
  max-width: 12.8rem;
  max-height: 15.6rem;
  object-fit: cover;
}

.news__title {
  margin: 0;
  padding: 1.1rem 0 1.3rem;
  font-weight: 700;
  font-size: 1.3rem;
  color: $black;
}

.news__title:hover {
  text-decoration: underline 1px solid $dark-green;
  color: $dark-green;
  text-underline-offset: 3px;
  cursor: pointer;
}

.news__text {
  margin: 0;
  margin-bottom: 1.3rem;
  font-size: 0.8rem;
  color: $black;
}

.news__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 0 0.9rem;
}

.news__date {
  font-weight: 700;
  font-size: 0.8rem;
  color: $yellow;
}

.news__link {
  font-weight: 700;
  font-size: 0.8rem;
  color: $dark-green;
  transition: all 0.1s;
}

.news__link:hover {
  text-decoration: underline 1px solid $dark-green;
  text-underline-offset: 3px;
  cursor: pointer;
}

.blog__button {
  margin: 0 auto;
  width: 12.2rem;
  height: 2.9rem;
}
// Конец блока 4 Екатерины
// Начало блока 5 Ксении
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.gallery {
  display: block;
  background: #fdfdfd;
  margin: 0 auto;
  padding: 0 0.6rem;
  max-width: 90%;
}
.heading {
  text-align: center;
  .subtitle {
    margin: 0 0 0.5rem;
    font-family: "NunitoSans_Regular", sans-serif;
    color: #f2be22;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.25px;
  }
  .title {
    margin: 0 0 2.5rem;
    font-family: "NunitoSans_Regular", sans-serif;
    color: #18121e;
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.375rem;
    align-self: center;
  }
}
.photo_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: dense;
  gap: 1.25rem;
  margin-bottom: 3.125rem;
  justify-content: center;
}
.photo_container img {
  background: var(--bg) center / cover;
  border-radius: 6px;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  filter: opacity(0.9);
  box-shadow: inset 0 0 15px #18121e, 0 8px 15px #18121e;
}
.photo_container img:hover {
  filter: opacity(1);
  transition: 0.2s;
  cursor: zoom-in;
}
.photo1,
.photo5 {
  grid-column: span 6;
}
.photo2,
.photo3,
.photo4,
.photo6 {
  grid-column: span 3;
}
a {
  text-decoration: none;
}
a:hover {
  color: #fdfdfd;
  cursor: pointer;
  text-decoration: underline;
}
.gallery_button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "NunitoSans_Regular";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25px;
  color: #fdfdfd;
  border: 1px solid #1a3e3e;
  border-radius: 4px;
  width: 11.125rem;
  height: 3.25rem;
  background-color: #1a3e3e;
  margin: 0 auto;
}
// Конец блока 5 Ксении

//Начало формы Виктории

.subcription {
  background-color: transparent;
}

.subscription__wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  border-radius: 6px;
  margin-bottom: -98px;
  padding: 40px 100px;
  box-shadow: 0 0 15px 0 rgba(24, 18, 30, 0.12);
  background: $white;
  gap: 15px;
}

.subscription__content {
  display: flex;
  flex-direction: column;
}

.main__title_first-subscription {
  font-size: 0.9rem;
  line-height: 20px;
}
.main__title_second-subscription {
  font-size: 1.6rem;
  margin: 0;
}
.subscription__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.subscription__form_label-first {
  font-size: 16px;
  margin: 0 0 8px;
}
.subscription__form_label-second {
  font-size: 14px;
  margin: 8px 0 0;
}

.subscription__link {
  text-decoration: underline;
  font-size: 14px;
}
.subscription__link:visited {
  color: $dark-green;
}
.subscription__email {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.subscription__email_wrapper {
  height: 44px;
  padding: 0px 16px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #f3f5f4;
  background-color: #f3f5f4;
  color: $black;
}

.subscription__button {
  padding: 12px 24px;
  min-width: 240px;
}
//Конец формы Виктории

@media screen and (max-width: 1199px) {
  // Начало блока 4 Екатерины
  .news {
    flex: 1 1 100%;
  }
  // Конец блока 4 Екатерины

  //Начало формы Виктории
  .subscription__wrapper {
    padding: 40px;
  }
  .main__title_second-subscription {
    font-size: 1.2rem;
  }
  //Конец формы Виктории
}

@media screen and (max-width: 991px) {
  // Начало блока 2 Екатерины
  .camping__wrapper {
    flex-direction: column-reverse;
    padding: 4.2rem 0;
    gap: 2.2rem;
  }

  .offer__wrapper {
    padding: 4.2rem 0;
  }
  .offer__photo {
    justify-content: center;
    grid-template-columns: 11.1rem;
  }
  // Конец блока 2 Екатерины

  // Начало блока 3 Виктории

  .popular__media {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .popular__item {
    max-width: 85%;
  }

  .overlay__title_second {
    display: none;
  }
  // Конец блока 3 Виктории

  //Начало формы Виктории
  .subscription__wrapper {
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }

  .subscription__content {
    align-items: center;
  }

  .subscription__email {
    justify-content: space-between;
  }
  //Конец формы Виктории
}

@media screen and (max-width: 768px) {
  // Начало блока 2 Екатерины
  .offer__content {
    flex: 3;
  }
  // Конец блока 2 Екатерины

  //Начало формы Виктории
  .subscription__email {
    flex-direction: column;
  }
  //Конец формы Виктории
}
@media screen and (max-width: 575px) {
  // Начало блока 1 Екатерины
  .main__title_first {
    font-size: 0.9rem;
  }
  .main__title_second {
    margin-bottom: 1.8rem;
    font-size: 1.3rem;
  }
  .main__text {
    font-size: 0.9rem;
  }
  .camping__wrapper {
    padding: 2.8rem 0;
  }
  .camping__media {
    margin-right: 0;
  }
  .camping__button {
    margin: 0 auto;
    width: 9.8rem;
    height: 2.4rem;
  }
  .media__main-frame {
    margin: 1rem;
    justify-content: center;
  }
  .media__second {
    display: none;
  }
  // Конец блока 1 Екатерины

  // Начало блока 2 Екатерины
  .offer__photo {
    display: none;
  }
  .offer__button {
    margin: 0 auto;
    width: 11.8rem;
    height: 2.4rem;
  }
  // Конец блока 2 Екатерины

  // Начало блока 3 Виктории
  // .overlay__info {
  //   font-size: 10px;
  // }
  // Конец блока 3 Виктории

  // Начало блока 4 Екатерины
  .blog {
    justify-content: center;
  }

  .news {
    flex-direction: column;
    padding: 0;
    max-width: 295px;
  }

  .news__img-wrapper {
    padding: 0.9rem;
    margin: 0.8rem;
  }

  .news__img {
    width: 100%;
    object-fit: cover;
  }

  .news__content {
    margin: 0 1.3rem;
  }

  .blog__button {
    width: 10.9rem;
    height: 2.4rem;
  }
  // Конец блока 4 Екатерины

  //Начало формы Виктории
  .subscription__wrapper {
    margin: 0;
  }

  .subscription__form {
    align-items: flex-start;
  }

  .subscription__button {
    display: flex;
    font-size: 0.8rem;
    padding: 12px 24px;
    min-width: 150px;
  }
  //Конец формы Виктории
}

@media screen and (max-width: 410px) {
  // Начало блока 4 Екатерины
  .media__video {
    width: 100%;
  }
  // Конец блока 4 Екатерины
}

@media screen and (max-width: 360px) {
  // Начало блока 1 Екатерины
  .news {
    display: none;
  }
  // Конец блока 1 Екатерины

  //Начало формы Виктории
  .subscription__wrapper {
    padding: 10px;
    font-size: 14px;
  }

  .subscription__email_wrapper {
    width: 80%;
  }
  //Конец формы Виктории
}
