

// Начало блока 1 Екатерины
.camping {
    display: block;
    font-family: Nunito Sans;
}

.video {

}

.main__title_first {
    margin-bottom: 0.4rem;  
    color: #F2BE22;
    font-size: 1.3rem;
}

.main__title_second {
    font-size: 2rem; 
}
// Конец блока 1 Екатерины

// Начало блока 2 Екатерины
.top-left_bottom-right {
border-radius: 0 50px;
}

.top-right_bottom-left{
border-radius: 50px 0;
}


// Конец блока 2 Екатерины

// Начало блока 4 Екатерины
.blog__title {

}

.blog__text {

}
// Конец блока 4 Екатерины

